body {
    font-family: 'Nova Mono', monospace;
    padding: 20px;
    margin: 0;
    background: black;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*border: 1px solid white;*/
    background-color: rgb(12, 12, 12);
    color: rgb(243, 108, 153);
}

.console-line {
    flex-direction: row;
    flex-wrap: wrap;
}

#wrapper {
    overflow-y: scroll;
}

#history {
    font-size: small;
    flex-grow: 1;
}

#inputtxt {
    font-size: small;
    padding-left: 0.2em;
    caret-color: yellow;
    height: 1.5em;
}