/*#consola {
    align-items: center;
    font-family : 'Oswald', sans-serif;
    height: 240px;
    width: 540px;
    margin: auto;
    border: 30px solid #181818;
    border-radius: 30px;
    background-color: black;
    color: blanchedalmond;
    
  }*/

body {
    font-family: 'Nova Mono', monospace;
    padding: 20px;
    margin: 0;
}

.console {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid white;
    background-color: rgb(22, 48, 23);
    color: yellowgreen;
}

#inputtxt {
    width: auto;
    height: auto;
}

#centro {
    display: grid;
    grid-template-rows: 15px auto 15px;
}

#pantalla {
    background-color: rgb(7, 7, 7);
}

/*
.celda {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
*/